<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Technical University of Munich</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Sciences</div>
                <p>Courses: Algorithms and data structures, Leadership of High-Tech Enterprises, Software Engineering, Basics Databases, Complex Systems</p>
                <p>Current total gradle: 1.9</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">October 2017 - today</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Lise-Meitner Gymnasium Unterhaching</h3>
                <div class="subheading mb-3">A-Levels</div>
                <p>GPA: 1.8</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">September 2009 - June 2017</span>
            </div>
        </div>

    </div>
</section>