<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">CEO & Lead Developer</h3>
                <div class="subheading mb-3">
                    <a href="https://www.selectcode.de">
                        SelectCode UG</a>
                </div>
                <p> I founded this startup 2 years ago and we are currently developing the tool
                    <a href="https://www.econap.de">Econap</a>, that triggers energy options exactly and only when they don't interrupt you.
                    We also developed an android native quiz <a href="">app</a> with good ratings. Besides that we're doing client projects.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2017 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Working Student</h3>
                <div class="subheading mb-3">QAware GmbH</div>
                <p>I migrated an old Java Project to Java with Spring Boot and deployed it to kubernetes.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2018 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Team Leader and Lead Developer</h3>
                <div class="subheading mb-3">Stand-Bye!</div>
                <p>I took part in the Youth Research contest with a software that improves the Windows energy saving mode. We won the regional competition and received several special prizes in the national competition. The software was written in C++.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2015 - Juni 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Working Student</h3>
                <div class="subheading mb-3">Infineon</div>
                <p>Developed macros for office planning.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2015 - August 2015</span>
            </div>
        </div>

    </div>

</section>
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">CEO & Lead Developer</h3>
                <div class="subheading mb-3">
                    <a href="https://www.selectcode.de">
                        SelectCode UG</a>
                </div>
                <p>I developed the software
                    <a href="https://www.econap.de">econap</a>
                    and our quiz app. I also successfully made some projects with clients.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2017 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Working Student</h3>
                <div class="subheading mb-3">QAware GmbH</div>
                <p>I migrated an old Java Project to Java with Spring Boot and deployed it to kubernetes.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2018 - Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Team Leader and Lead Developer</h3>
                <div class="subheading mb-3">Stand-Bye!</div>
                <p>I took part in the Youth Research contest with a software that improves the Windows energy saving mode. We won the regional competition and received several special prizes in the national competition. The software was written in C++.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2015 - Juni 2017</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Working Student</h3>
                <div class="subheading mb-3">Infineon</div>
                <p>Developed macros for office planning.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2015 - August 2015</span>
            </div>
        </div>

    </div>

</section>