<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <img src="img/profile.jpg" class="img-fluid img-profile rounded-circle float-left mb-2 mx-auto">
            <h1 class="mb-0">Florian
                <span class="text-primary">Baader</span>
            </h1>
            <div class="subheading mb-5">Software Engineer | CEO & Lead Developer of SelectCode            </div>

            <p class="lead mb-5">Hi 👋, I am a passionate programmer who likes to implement big applications
             using state-of-the-art tools and methodologies. I am a huge fan of good software architecture, CI/CD and good testing.
                         </p>
            <div class="social-icons float-right">
                <a href="https://www.linkedin.com/in/florianbaader/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/flobaader">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/flobaader">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://medium.com/@florian.baader">
                    <i class="fab fa-medium"></i>
                </a>
            </div>
            
        </div>

    </section>