<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <div ></div>
            <h1 class="mb-0">Florian
                <span class="text-primary">Baader</span>
            </h1>
            <div class="subheading mb-5">Software Engineer | CEO & Lead Developer of SelectCode
            </div>
            <p class="lead mb-5">I am a passionate programmer who likes to implement applications with new methods and tools. I learn every day and try to constantly improve.
            </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/florianbaader/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/flobaader">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/flobaader">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>

    </section>